MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.htjfnnq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

SALT_ROUNDS=byt-denna-till-ett-postivit-heltal

JWT_SECRET=byt-denna-till-en-lång-slumpad-hemlighet

DB_NAME=byt-denna-till-ditt-val-av-namn-för-db